<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdfex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExplorerActivity" />
        <activity android:name=".TreeActivity" />
        <activity android:name=".ViewerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TreeActivity" />
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".RDFExpandActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewerActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".AffixTextActivity" />
        <activity android:name=".LinkedSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>